.App {
  text-align: center;
  background-color:   #EFF2F1;
}

a {
  color: blue;
  text-decoration: none; /* no underline */
}


.Navigation {
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  align-items: center;
  background: #c2d2ed;
  box-shadow: 0px 0px 18px #282c34;
}

.Navigation a {
  color: #282c34;
  text-decoration: none;
}

.Navigation a:hover {
  color: #485979;
  box-shadow: #282c34;
  border-left: 1px;
  border-right: 1px;
  text-shadow: 0px 0px 40px #282c34;
}

.Navigation ul {
  list-style: none;
  display: inline-flex;
}

.Navigation li {
  margin-right: 10%;
}

.Showcase {
  margin: 5%;
}

.Showcase ul li{
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.Showcase ul li:hover{
  box-shadow: 0px 0px 40px #282c34;
}

.Resume {
  margin: 1%;
  position: relative;
  align-items: right;
  margin-left: 10%;
}

.Resume Document {
  align-items: center;
}